extends layout 

block content 

    h1.text-4xl.font-bold.flex.justify-center.m-3= title 

    form.flex.justify-center(method='POST' action='')
        div.flex.flex-col.justify-center.m-5.p-5.gap-5.rounded-xl.shadow-lg.border-2
            label.text-2xl.font-bold(for='name') Publisher
            input.text-xl.p-2(type='text', placeholder='42 Games, Cool mini or not, etc.' name='name' required='true' value=(publisher===undefined ? '' : publisher.name) )
            button.btn.btn-primary.p-2.bg-green-600.text-white.rounded(type='submit') Submit
    if errors
        ul
        for error in errors
            li!= error.msg